body {
  background-color: #c7fffc53;
}

.div_for_form {
  display: flex;
  justify-content: center;
  background-color: #a1eeee;
  height: 80px;
  margin-bottom: 11px;
}

form {
  margin-top: 32px;
}

input {
  border-radius: 5px;
  border-color: #1c8991;
}

button {
  border-radius: 5px;
  background-color: #4fc5c5;
  border-color: #1c8991;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #1c8991;
}

img {
  width: 400px;
}
